<div class="mb20">
  <% if(current_user) %>
  <a href="/forum/new_topic" class="btn btn-danger" style="width: 100%;">New Topic</a>
  <% else %>
  <a href="#" class="btn btn-danger" style="width: 100%;" onclick="alert('Please login/sign-up!');">New Topic</a>
  <% end %>
</div>
