default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  host: localhost
  username: postgres
  password: 12345678
  database: indorails-development


test:
  <<: *default
  host: localhost
  username: postgres
  password: 12345678
  database: indorails-test

production:
  <<: *default
  username:
  password:
  database: indorails-production
